body {
  background-color: cyan;
}

.hop__main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: darkorchid;
}

/* @media only screen and (max-width: 480px) {
  .App,
  .hop__main,
  .hop__extra {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    justify-content: center;
  }
} */